:root {
    --page-background: #231F20;
    /* Buradan arkaplan rengini degistirebilirsiniz */
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--page-background);
}

#unity-container {
    position: absolute
}

#unity-container.unity-desktop {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unity-aspect-wrapper {
    max-height: 95vh;
    aspect-ratio: 9/16;
    display: flex;
    flex-direction: column;
}

#unity-container.unity-mobile {
    position: fixed;
    width: 100%;
    height: 100%
}

#unity-canvas {
    background: #231F20;
    width: 100%;
    height: auto;
    /* Let wrapper control height/aspect */
    flex-grow: 1;
}

.unity-mobile #unity-canvas {
    width: 100%;
    height: 100%
}

#unity-loading-bar {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none
}

#unity-logo {
    width: 154px;
    height: 130px;
    background: url('unity-logo-dark.png') no-repeat center
}

#unity-progress-bar-empty {
    width: 141px;
    height: 18px;
    margin-top: 10px;
    margin-left: 6.5px;
    background: url('progress-bar-empty-dark.png') no-repeat center
}

#unity-progress-bar-full {
    width: 0%;
    height: 18px;
    margin-top: 10px;
    background: url('progress-bar-full-dark.png') no-repeat center
}

#unity-footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--page-background);
    /* Match bg color */
    padding-top: 5px;
    /* Spacing */
}

.unity-mobile #unity-footer {
    display: none
}

#unity-logo-title-footer {
    width: 102px;
    height: 38px;
    background: url('unity-logo-title-footer.png') no-repeat center
}

#unity-flex-spacer {
    flex-grow: 1;
}

#unity-build-title {
    margin-right: 10px;
    line-height: 38px;
    font-family: arial;
    font-size: 18px
}

#unity-warning {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    background: white;
    padding: 10px;
    display: none
}